<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: {{site.cor_padrao}}">
    <a class="navbar-brand ml-5" href="#">
        <img src="{{site.imagem_logo}}" alt="logosite" style="width:80% ">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item active">
                <a class="nav-link text-light" href="{{site.link_codconduta}}">Código de Conduta <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{{site.link_subpalestra}}">Submeter Palestra <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{{site.link_venda}}">
                    Saiba Mais
                </a>
            </li>

        </ul>
    </div>
</nav>